body{
    height: 96vh;
    width: 96vw;
    background-color: #F1AA3C;
}

#container{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 45px;
    text-align: center;
}

#reloj{
    font-size: 3em;
    margin: 1em;
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.botones{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 3em;
    width: 10em;
    font-size: large;
}

.botones:hover{
    background-color: #775421;
}